@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

.body {
  margin: 0 !important;
  padding: 0 !important;
}

#display-canvas {
  height: calc(100vh - (4rem + 2px));
  vertical-align: middle !important;
}

/********************* CSS Général *************************/
.nunito400 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.nunito500 {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

.semiBoldNunito {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.extraBoldNunito{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.extraBold800 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.mediumNunito {
  font-family: 'Nunito', sans-serif;
}

.blackNunito {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.size28 {
  font-size: 28px;
}

.uppercaseText {
  text-transform: uppercase;
}

.titleFont {
  color: #4B4B4B;
}

.blueButton {
  background-color: #1CB0F6;
  height: 50px !important;
  filter: drop-shadow(0px 4px 0px #1899D6);
}

.blueButton:active {
  /* box-shadow: 0 5px #666; */
  filter: drop-shadow(0px 0px 0px #1899D6);
  transform: translateY(4px);
}

.whiteButton {
  filter: drop-shadow(0px 4px 0px #e5e5e5);
}

.whiteButton:active {
  filter: drop-shadow(0px 0px 0px #e5e5e5);
  transform: translateY(4px);
}

.blueTextColor {
  color: #1CB0F6;
}

.fontColor3C {
  color: #3C3C3C;
}

.facebookColor {
  color: #3C5A99;
}

.googleColor {
  color: #4285F4;
}

input[type=text],
input[type=email],
input[type=password] {
  background-color: #E5E5E5;
}
.badgeColor{
  background-color: #D9D9D9;
}
.colorE5{
  background-color: #E5E5E5;;
}
.colorD3{
  color:#D3D3D3;
}
.colorAE{
  color: #AEAEAE;
}
/********************* CSS pour les modal *****************/

.loune:before, .loune:after {
  display: block;
  position: absolute;
  content: "" !important;
  border-top-width: 1px !important;
  top: 50%;
  width: 35% !important;
  border-color: #E5E5E5 !important;
}

.loune:after {
  left: 65%;
}
/********************* CSS Navbar **************************/
.fontTarget {
  color: #FA4A4E
}

.fontBell {
  color: #FDC62E
}

.levelColor {
  color: #B4B4B4
}

.profileImgNav {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  background:
    conic-gradient(#D81F26 0% 20%,
      #D9D9D9 20% 40%,
      transparent 40% 60%,
      #D81F26 60% 100%);
}

.whiteCircle {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  background-color: white;
}

/********************* CSS Profil **************************/
.levelBarColor{
  background-color: #D81F26;
  /* width: 50% !important; */
  height: 16px !important;
}
.textProfilColorRed{
  color: #D81F26;
}
.imgBanner{
  background-image: url(../public/img/profil/allActionBanner.svg);
  background-repeat: no-repeat;
  background-size:100%;
}
.myActionYellowColor{
  background-color: #FFD600;  
}
.myActionGreyColor{
  background-color: #D1D1D1;
}
.profilPosition{
  top: -80px !important;
  right: -40px !important;
}
.resizeImage{
  width: 100px !important;
  height: 100% !important;
  object-fit: cover !important;
}
.test2{
  width: 100% !important;
  height: 99% !important;
  object-fit: cover !important;
}

/********************* CSS Act *****************************/
.bellButton {
  border-color: #E5E5E5 !important;
  border: solid;
  border-width: 3px 3px 6px 3px;
}

.bellButton:active {
  border: solid;
  transform: translateY(4px);
}

.bellButton:active>.changeBell {
  content: url(../public/img/icon/bell/bell2.png);
}

.searchBarGlassColor {
  color: #B3B3B3;
}


.likeButton {
  border-color: #E5E5E5 !important;
  border: solid;
  border-width: 3px 3px 6px 3px;
}

.likeButton:active {
  border: solid;
  transform: translateY(4px);
  content: url(../public/img/icon/hearth/hearth.png);
}

.locateButton {
  border-color: #E5E5E5 !important;
  border: solid;
  border-width: 3px 3px 6px 3px;
}

.locateButton:active {
  border: solid;
  transform: translateY(4px);
}

.filterButton {
  border-color: #E5E5E5 !important;
  border: solid;
  border-width: 3px 3px 6px 3px;
}

.filterButton:active {
  border: solid;
  transform: translateY(4px);
}

.filterButton:active>.rotateFilter {
  transform: rotate(180deg);
}
.plus{
  border-color: #d1d5db !important;
  border: solid;
  border-width: 3px 3px 6px 3px;
}

.plus:active {
  border: solid;
  transform: translateY(4px);
}

.centerIcon {
  transform: translate(-50%, 0) !important;
}

.progressBarObjectif {
  background-color: #F6CA45;
}

.textColorProgressBarObjectif {
  color: #C58430;
  ;
}


/********************* CSS pour le modal event *************/
.greyText {
  color: #9D9D9D;
}

.donation {
  background-color: #FFF8D6;
  border: 2.118px solid #FFE68B;
}

.panel {
  display: none;
}

.panel.active {
  display: block;
}

.tabsActiveBorder {
  border-bottom: solid #1CB0F6;
}

.horizontalScrollbar::-webkit-scrollbar {
  display: none;
}
.customScrollbar {
  
  scrollbar-width: thin !important;
  scrollbar-color: #4a5568 #cbd5e0 !important;
}

.customScrollbar::-webkit-scrollbar, ::-webkit-scrollbar{
  width: 6px;
}

.customScrollbar::-webkit-scrollbar-track, ::-webkit-scrollbar-track{
  background: #E5E5E5;
  border-radius: 20px;
}

.customScrollbar::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb{
  background-color: #9D9D9D;
  border-radius: 20px;
}

.heartPlace{
  top: -66px  !important;
}
.buttonPlace{
  bottom: 80px !important;
}
/********************* CSS Signin  *************************/
.line:before,
.line:after {
  display: block;
  position: absolute;
  content: "" !important;
  border-top-width: 1px !important;
  top: 50%;
  width: 46% !important;
  border-color: #E5E5E5 !important;
}

.line:after {
  left: 54%;
}

/********************* CSS pour le loading screen **********/

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation: l9 4s infinite linear;
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}


/********************* CSS pour les filtres ****************/
.donationFiltre {
  border-color: #E5E5E5 !important;
  border: solid;
  border-width: 2px 2px 2px 2px;
}

.changedYellow{
  background-color: #FFF8D6;
  border:  solid  #FFE68B !important;
  border-width: 2px !important;
}
.changedGreen{
  background-color: #E9FFEF;
  border:  solid  #65B77C !important;
  border-width: 2px !important;
}
.changedBlue{
  background-color: #E9EEFF;
  border:  solid  #7593FF !important;
  border-width: 2px !important; 
}
.changedCreator{
  background-color: #E2EEF4;
  border:  solid  #1CB0F6 !important;
  border-width: 2px !important; 
}

/********************* CSS pour la page Impact *************/
.bottomImpact{
  bottom: 10% !important;
}
/********************* CSS pour les labels *****************/
.SDK3DVerse-viewport-container {
  top: 4rem !important;
  height: calc(100vh - (4rem + 2px)) !important;
  width: 100% !important;
  vertical-align: middle !important;
}

.SDK3DVerse-viewport,
.SDK3DVerse-viewport>div {
  border: 0px !important;
  height: 100% !important;
}

.label-container {
  transform-origin: 50% 50%;
  width: 30px;
  height: 30px;
}

.label-container>.active,
.label-container> :hover {
  z-index: 10 !important;
}

.label-container.active .label,
.label-container:hover .label,
.label-container:focus .label{
  width: 80px;
  height: 40px;
  background-color: white;
  transform: translate(-50, -100%);
  transition: width 0.1s ease;
}

.label-container .label:hover+.label-title:not(:empty),
.label-container .label:focus+.label-title:not(:empty) {
  transform: scaleX(1);
  opacity: 1;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: all !important;
  cursor: pointer;
  transform: translate(-50%, -100%);
  border-radius: 20px;
  border: 8px;
  transform-origin: 50% 50%;
  padding: 0 3px 3px 0;
  width: 30px;
  height: 30px;
  background: white;
  background-size: contain;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(9, 11, 12, .6);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -2.2em 0 0 -1.3em;
  -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  transition: opacity 0.25s, transform 0.25s ease;
}

.label::after {
  content: '';
  position: absolute;
  bottom: -25%;
  left: 50%;
  margin-left: -5px;
  /* Adjust the positioning of the triangle */
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.label-title {
  position: absolute;
  display: flex;
  align-items: center;
  top: -12px;
  left: -12px;
  transform: scaleX(0.9);
  transform-origin: center left;
  width: max-content;
  max-width: 15rem;
  min-height: 24px;
  padding: 0.25rem 0.75rem 0.25rem 1.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 12px;
  color: rgba(9, 11, 12, .8);
  background-color: rgba(241, 241, 241, .9);
  transition: opacity 0.25s, transform 0.25s;
  opacity: 0;
  pointer-events: none;
}

.label-title:hover {
  z-index: 20 !important;
}

.actionModal {
  display: none;
  background-color: lightgreen;
}

.collect {
  z-index: 30 !important;
  margin-top: -37.5px;
  margin-left: -13px;
  width: 80%;
  height: 80%;
  transform: rotate(45deg);
  /* Adjust the angle as needed */
  transition: transform 0.5s ease;
}

.label-container:hover .collect {
  position: absolute;
  top: -7.5px;
  left: -25px;
  width: 26px;
  height: 26px;
}

.attendees,
.attendees-txt {
  position: absolute;
  display: none;
  margin-top: 5px;
  width: 0%;
  height: 0%;
  color: black;
  text-align: center;
  opacity: 1;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.5s ease;
}

.attendees {
  top: -60px;
  left: -12.5px;
  font-weight: bold;
  font-size: 22px;
  z-index: 15 !important;
}

.attendees-txt {
  text-align: left !important;
  font-size: 8px;
  /* Initial font size */
  top: -35px;
  left: -12.5px;
  z-index: 15 !important;
}

.label-container.active .attendees,
.label-container.active .attendees-txt,
.label-container:hover .attendees,
.label-container:hover .attendees-txt,
.label-container:focus .attendees,
.label-container:focus .attendees-txt {
  display: block;
}
/********************* CSS pour le shop  *****************/

.custom-shop-item {
  width: 235px;
  height: 100%;
  border: 2px solid #E5E5E5;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative; 
  border-radius: 18.814px
}

.top-section {
  border-radius: 18.814px 18.814px 0px 0px;
  background: #3CB532;
}

.center-section {
  height: 100%;
  position: relative; /* Ajout de position relative */
}

.center-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: -20px; /* Ajustez cette valeur pour la superposition */
  left: 50%;
  transform: translateX(-50%);
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopButton{
  border-radius: 18.814px;
  border: 2.258px solid #1CB0F6;
  background: #1CB0F6;
  filter: drop-shadow(0px 4px 0px #1899D6);
}

.shopButton:active {
  filter: drop-shadow(0px 0px 0px #1899D6);
  transform: translateY(4px);
}
  

.shopText{
  color: #FDC62E
}

.lineShop:before,
.lineShop:after{
  display: block;
  position: absolute;
  content: "" !important;
  border-top-width: 1px !important;
  top: 50%;
  width: 42%;
  border-color: #E5E5E5 !important;
}
.lineShop:after{
  left: 58%;
}