@tailwind base;
@tailwind components;
@tailwind utilities;


.test {
    padding-right: 110px;
}

/********************* CSS pour les labels *****************/
.SDK3DVerse-viewport-container {
    top: 64px !important;
    height: 100vh !important;
    width: 100vw !important;
    vertical-align: middle !important;

}

.SDK3DVerse-viewport {
    border: 0px !important;
}

.label-container>.active,
.label-container> :hover {
    z-index: 10 !important;
}

.label-container.active,
.label-container:hover {
    z-index: 10 !important;
}

.label-container.active .label,
.label-container .label:hover,
.label-container .label:focus {
    color: rgba(190, 25, 25, 0.9);
    background-color: var(--color-accent);
    transform: scale(1.33) rotateX(20deg) rotateZ(-45deg);
}

.label-container .label:hover+.label-title:not(:empty),
.label-container .label:focus+.label-title:not(:empty) {
    transform: scaleX(1);
    opacity: 1;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: all !important;
    cursor: pointer;
    transform: perspective(30px) rotateX(20deg) rotateZ(-45deg);
    transform-origin: 50% 50%;
    border-radius: 50% 50% 50% 0;
    padding: 0 3px 3px 0;
    width: 30px;
    height: 30px;
    background: #ed1f34;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(9, 11, 12, .6);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2.2em 0 0 -1.3em;
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    transition: opacity 0.25s, transform 0.5s ease;
}

.label-title {
    position: absolute;
    display: flex;
    align-items: center;
    top: -12px;
    left: -12px;
    transform: scaleX(0.9);
    transform-origin: center left;
    width: max-content;
    max-width: 15rem;
    min-height: 24px;
    padding: 0.25rem 0.75rem 0.25rem 1.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 12px;
    color: rgba(9, 11, 12, .8);
    background-color: rgba(241, 241, 241, .9);
    transition: opacity 0.25s, transform 0.25s;
    opacity: 0;
    pointer-events: none;
}

.label-title:hover {
    z-index: 20 !important;
}

.actionModal {
    display: none;
    background-color: lightgreen;
}

.label:active + .actionModal {
    display: block;
}